.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.082520;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.060059;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.652344;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.727539;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc2{color:rgb(0,0,0);}
.fc1{color:rgb(255,255,255);}
.fc3{color:rgb(63,63,63);}
.fc0{color:rgb(38,38,38);}
.fs1{font-size:42.000000px;}
.fs3{font-size:56.000000px;}
.fs2{font-size:64.000000px;}
.fs4{font-size:192.000000px;}
.fs0{font-size:320.000000px;}
.y0{bottom:0.000000px;}
.y2{bottom:13.090356px;}
.ye{bottom:123.975790px;}
.y7{bottom:176.406837px;}
.y1{bottom:220.941635px;}
.y9{bottom:254.925346px;}
.yc{bottom:271.545563px;}
.yf{bottom:281.145559px;}
.yd{bottom:282.471701px;}
.y13{bottom:283.641295px;}
.yb{bottom:290.745560px;}
.ya{bottom:309.696068px;}
.y12{bottom:323.102553px;}
.y6{bottom:329.733741px;}
.y5{bottom:329.733771px;}
.y11{bottom:333.173157px;}
.y10{bottom:352.373154px;}
.y4{bottom:364.633730px;}
.y3{bottom:364.633745px;}
.y8{bottom:418.980518px;}
.h2{height:34.781250px;}
.h5{height:46.375000px;}
.h7{height:47.000000px;}
.h4{height:51.937500px;}
.h3{height:53.000000px;}
.h6{height:159.000000px;}
.h1{height:265.000000px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x1{left:93.598755px;}
.x4{left:114.507935px;}
.x6{left:183.751495px;}
.x9{left:206.773365px;}
.x8{left:208.648365px;}
.xb{left:250.855869px;}
.xa{left:289.876278px;}
.xe{left:388.416347px;}
.xd{left:401.041347px;}
.x5{left:487.590759px;}
.x11{left:513.582394px;}
.x12{left:515.019894px;}
.xc{left:589.520306px;}
.x7{left:676.122263px;}
.x3{left:742.016174px;}
.xf{left:787.270691px;}
.x10{left:807.579834px;}
.x2{left:869.548653px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs1{font-size:56.000000pt;}
.fs3{font-size:74.666667pt;}
.fs2{font-size:85.333333pt;}
.fs4{font-size:256.000000pt;}
.fs0{font-size:426.666667pt;}
.y0{bottom:0.000000pt;}
.y2{bottom:17.453808pt;}
.ye{bottom:165.301053pt;}
.y7{bottom:235.209115pt;}
.y1{bottom:294.588847pt;}
.y9{bottom:339.900462pt;}
.yc{bottom:362.060750pt;}
.yf{bottom:374.860746pt;}
.yd{bottom:376.628934pt;}
.y13{bottom:378.188394pt;}
.yb{bottom:387.660746pt;}
.ya{bottom:412.928090pt;}
.y12{bottom:430.803404pt;}
.y6{bottom:439.644988pt;}
.y5{bottom:439.645028pt;}
.y11{bottom:444.230876pt;}
.y10{bottom:469.830872pt;}
.y4{bottom:486.178307pt;}
.y3{bottom:486.178327pt;}
.y8{bottom:558.640691pt;}
.h2{height:46.375000pt;}
.h5{height:61.833333pt;}
.h7{height:62.666667pt;}
.h4{height:69.250000pt;}
.h3{height:70.666667pt;}
.h6{height:212.000000pt;}
.h1{height:353.333333pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x1{left:124.798340pt;}
.x4{left:152.677246pt;}
.x6{left:245.001994pt;}
.x9{left:275.697820pt;}
.x8{left:278.197820pt;}
.xb{left:334.474492pt;}
.xa{left:386.501704pt;}
.xe{left:517.888463pt;}
.xd{left:534.721797pt;}
.x5{left:650.121012pt;}
.x11{left:684.776525pt;}
.x12{left:686.693192pt;}
.xc{left:786.027074pt;}
.x7{left:901.496351pt;}
.x3{left:989.354899pt;}
.xf{left:1049.694255pt;}
.x10{left:1076.773112pt;}
.x2{left:1159.398204pt;}
}
