/* General Slides */ 

.slide{
	background-attachment: fixed;
	width:100%;
	height:auto;
	position: relative;
	padding:140px 0;
}

#content h1{
	color: #020202;
}

#content h2{
	color: #020202;
	/*line-height: 50px;*/
}

#content h2>ul>li{
	padding-bottom: 40px;
}

.p {
	font-size: 20px;
}
/* Slide 1 */ 

#slide1{
	background-color:#f5f5f5;
}
#slide1 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	color:#020202;
	font-weight: 700;
}
#slide1 h2 {
	font-size: 2em;
	color: #020202;
	padding-bottom:20px;
	font-weight: 400;
}




/* Slide 2 */ 

#slide2{
	background-image:url("./images/paperplane.png");
	background-color:#f68f67;
	color:#ffffff;
}
#slide2 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	/*color:#ffffff;*/
	font-weight: 700;
}
#slide2 h2 {
	font-size: 2em;
	/*color: #ffffff;*/
	padding-bottom:20px;
	font-weight: 400;
}




/* Slide 3 */ 

#slide3{
	background-color:#f5f5f5;
}
#slide3 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	color:#020202;
	font-weight: 700;
}
#slide3 h2 {
	font-size: 2em;
	color: #020202;
	padding-bottom:20px;
	font-weight: 400;
}
#test{
	background-color:#81C7D4;
	color:#020202;
	text-align:center;
	font-size: 2em;
	font-weight: 400;
}

.list{
    font-size:20px; 
    text-align:left;
    line-height: 30px;
}


/* Slide 4 */

#slide4{
	background-image:url("./images/rocket.png");
	/*background-color:#020202;*/
	color:#ffffff;
}
#slide4 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
/*	line-height: 0px;*/
	color:#ffffff;
	font-weight: 700;
}
#slide4 h2 {
	font-size: 2em;
	color: #ffffff;
/*	line-height: 0px;*/
	padding-bottom:20px;
	font-weight: 400;
}



