  
  body {
    /*background: #F0E68C;*/
    font-family: 'Amarante',Georgia,"微軟正黑體", "Microsoft JhengHei", "新細明體", "PMingLiU", "細明體", "MingLiU", "標楷體", "DFKai-sb", serif;
    width: 1300px;

  }

  .Content {
    background: url(http://kabegami.tank.jp/flo2/flo209/c.gif) repeat;
    padding: 0em 1em 1em 1em;
    border-radius: 85px 235px 185px 440px;
    box-shadow: #808080 0px 5px 10px 10px;

  }

  ul, li, a{
      list-style: none;
      text-decoration: none;
  }

  header, nav, div {
      /*border: 1px solid green;*/
  }
  header {
    margin: 0cm;
    padding: 0cm;
    float: left;
    width: 50%;
    z-index: 5;
    position: relative;
   
  }

  #sinya {
    position: absolute;
    width: 650px;
    height: 360px;
    opacity: 1; 
    z-index: 1;

  }
  #pong {
    position: absolute;
    margin-top: 5cm;
    margin-left: -1cm;
    position: relative;
    width: 400px;
    height: 400px;
    opacity: 0;
    -o-transition: 4s;
    -webkit-transition: 4s;
    -moz-transition: 4s;
    transition: 4s;
    z-index: 0;

  }

  #gotop {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;    
    padding: 5px 30px;    
    background: #777;
    font-size: 3em;
    color: white;
    cursor: pointer;
  }

  header:hover #pong{
    opacity: 1; 
    -o-transition: opacity 2s linear;
    -webkit-transition: opacity 2s linear;
    -moz-transition: opacity 2s linear;
    transition: opacity 2s linear;

  }

  a {
    color: #000;
    text-decoration: none;
  }
  a:hover, a:active {
    color: #000;
    text-decoration: underline;
  }

  /* animation */
  @keyframes icon-bounce {
    0%, 100% {
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    25% {
      -moz-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg);
    }

    50% {
      -moz-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
      -webkit-transform: rotate(-15deg);
      transform: rotate(-15deg);
    }

    75% {
      -moz-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
      -webkit-transform: rotate(5deg);
      transform: rotate(5deg);
    }

    85% {
      -moz-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
      -webkit-transform: rotate(-5deg);
      transform: rotate(-5deg);
    }
  }
  @-webkit-keyframes icon-bounce {
    0%, 100% {
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    25% {
      -moz-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg);
    }

    50% {
      -moz-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
      -webkit-transform: rotate(-15deg);
      transform: rotate(-15deg);
    }

    75% {
      -moz-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
      -webkit-transform: rotate(5deg);
      transform: rotate(5deg);
    }

    85% {
      -moz-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
      -webkit-transform: rotate(-5deg);
      transform: rotate(-5deg);
    }
  }
  @-moz-keyframes icon-bounce {
    0%, 100% {
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    25% {
      -moz-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg);
    }

    50% {
      -moz-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
      -webkit-transform: rotate(-15deg);
      transform: rotate(-15deg);
    }

    75% {
      -moz-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
      -webkit-transform: rotate(5deg);
      transform: rotate(5deg);
    }

    85% {
      -moz-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
      -webkit-transform: rotate(-5deg);
      transform: rotate(-5deg);
    }
  }
  @-o-keyframes icon-bounce {
    0%, 100% {
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    25% {
      -moz-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg);
    }

    50% {
      -moz-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
      -webkit-transform: rotate(-15deg);
      transform: rotate(-15deg);
    }

    75% {
      -moz-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
      -webkit-transform: rotate(5deg);
      transform: rotate(5deg);
    }

    85% {
      -moz-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
      -webkit-transform: rotate(-5deg);
      transform: rotate(-5deg);
    }
  }


  .container {
    max-width: 1200px; 
    padding-top: 80px;
    z-index: 2;
    position: relative; 
  }

  .mine-item {
    display: block;
    float: left;
    /*margin-bottom: 30px;*/
    width: 20%;
  }
  .mine-item:hover .mine-icon {
    -webkit-animation: icon-bounce 0.5s alternate;
    -moz-animation: icon-bounce 0.5s alternate;
    -o-animation: icon-bounce 0.5s alternate;
    animation: icon-bounce 0.5s alternate;
  }

  #perry {
    height: 120px;
    width: 160px;
    margin-top: 66px; 
  }

  #phineas {
    height: 190px;
    width: 150px;
  }

  .mine-icon-wrap {
    text-align: center;
    display: block;
    height: 52px;
    margin-bottom: 30px;
  }

  .mine-title {
    font-family: 'Londrina Outline', 'Cabin Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    margin: 0;
    padding: 0 20px;
    margin-top: 140px;
    color: #000;
    text-decoration: none;
  }

  section {
    vertical-align: middle;
    margin-left: 4em;
    padding: 0 auto;
  }

  .ContactForm {
    font-family: 'Amarante';
    font-size: 1.4em;
    clear:both;
    text-align: left;
    margin-left: 300px;
    margin-right: 340px;
    -moz-box-shadow: 0 0 15px -7px #000;
    -webkit-box-shadow: 0 0 15px -7px #000;
    box-shadow: 0 0 15px -7px #000;
    border: 1px solid #c3cada;
    border-radius: 3px;
    z-index: 2;
    position: relative;
  }

  form {
    padding: 2em;
  }

  .ContactForm h3:before {
    content: "◈  ";
    margin-left: -1em;
  }

  form p{
    padding-left: 1.2em;
  }

  input[type="radio"], input[type="checkbox"] {
    /*margin-left: 5em;*/
  }

  select {
    /*margin-left: 2.5em;*/
    font-size: 1em;
  }

  textarea {
  width: 100%;
  height: 200px; 
  font-size: 1.4em;

  }

  input[type="text"]{
    width: 100%;
    height: 50px;
    border: none;
    font-size: 1.4em;
    box-sizing: border-box;
    font-family: serif;
    color: #111212;
  }

  input[type="text"]:focus{
    border-left: 6px solid #fe655d;
    -webkit-transition: border .2s ease;
    -moz-transition: border .2s ease;
    -o-transition: border .2s ease;
    transition: border .2s ease;
  }


  input[type="submit"] {
    background-color: #fe655d;
    border: none;
    display: block;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    color: #fff;
    margin: 30px auto;
    border: 1px solid #e0514b;
    border-radius: 3px;
    transition: all .2s ease;
    font-size: 1.2em;
    }

  input[type="submit"]:hover {
    background-color: #e0514b;
    border: 1px solid #fe655d;
    top: 5px;
  }

  input {
    outline: none;
  }

  #flower{
    background:none;
    background-image: url('http://i.imgur.com/gJebRI2.png'), url('http://i.imgur.com/ljqv8bt.png'), url('http://i.imgur.com/fOLtHfD.png');
    position: absolute;
    margin-left: 60px;
    top: 1cm;
    border-radius: 200px;
    width: 1200px;
    height: 1800px;
    -o-transition: 3s;
    -webkit-transition: 3s;
    -moz-transition: 3s;
    transition: 3s;  
    -webkit-animation: flower 20s linear infinite;
    -moz-animation: flower 20s linear infinite;
    -ms-animation: flower 20s linear infinite;
    animation: flower 20s linear infinite;
  }

  @keyframes flower {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    65% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
  }
  @-moz-keyframes flower {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    65% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
  }
  @-webkit-keyframes flower {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    65% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
  }
  @-ms-keyframes flower {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    65% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
  } 


  footer {
    font-family: 'Amarante';
    clear: both;
    text-align: center;
    padding: 1cm;
    font-size: 1.5em;
  }

  footer img {
    z-index: 2;
    position: relative;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 105%;
    height: 110%;
  }

