  @import url(http://cs.nccu.edu.tw/~jonesyu/960gs/code/css/960.css);


  body {
    /*background: #F0E68C;*/
    font-family: 'Nothing You Could Do',Georgia,"微軟正黑體", "Microsoft JhengHei", "新細明體", "PMingLiU", "細明體", "MingLiU", "標楷體", "DFKai-sb", serif;
    width: 1300px;

  }

  .square h3, p{
    font-family: 'Amarante';
  }

  .Content {
    background: url(http://i.imgur.com/VAcCuFu.gif) repeat;
    padding: 0em 1em 1em 1em;
    border-radius: 40px 385px 235px 185px;
    box-shadow: #808080 0px 5px 10px 10px;

  }

  ul, li, a{
			list-style: none;
		  text-decoration: none;
	}

	div {
		 	/*border: 1px solid green;*/
	}

  header {
    margin: 0cm;
    padding: 0cm;
    margin-bottom: 
  }

  #peng {
    position: absolute;
    width: 550px;
    height: 260px;
    opacity: 0.9;
    z-index: 1;

  }
  #pong {
    margin-left: 12cm;
    /*margin-top: 1cm; */
    width: 400px;
    height: 400px;
    z-index: 0;
  }

  #pong { 
    opacity: 0;
    -o-transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    transition: 2s;
  }

  header:hover #pong {
    opacity: 1; 
    -o-transition: opacity 2s linear;
    -webkit-transition: opacity 2s linear;
    -moz-transition: opacity 2s linear;
    transition: opacity 2s linear;
  }

  a {
    color: #000;
    text-decoration: none;
  }
  a:hover, a:active {
    color: #000;
    text-decoration: underline;
  }


  /* animation */
  @keyframes icon-bounce {
    0%, 100% {
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    25% {
      -moz-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg);
    }

    50% {
      -moz-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
      -webkit-transform: rotate(-15deg);
      transform: rotate(-15deg);
    }

    75% {
      -moz-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
      -webkit-transform: rotate(5deg);
      transform: rotate(5deg);
    }

    85% {
      -moz-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
      -webkit-transform: rotate(-5deg);
      transform: rotate(-5deg);
    }
  }
  @-webkit-keyframes icon-bounce {
    0%, 100% {
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    25% {
      -moz-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg);
    }

    50% {
      -moz-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
      -webkit-transform: rotate(-15deg);
      transform: rotate(-15deg);
    }

    75% {
      -moz-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
      -webkit-transform: rotate(5deg);
      transform: rotate(5deg);
    }

    85% {
      -moz-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
      -webkit-transform: rotate(-5deg);
      transform: rotate(-5deg);
    }
  }
  @-moz-keyframes icon-bounce {
    0%, 100% {
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    25% {
      -moz-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg);
    }

    50% {
      -moz-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
      -webkit-transform: rotate(-15deg);
      transform: rotate(-15deg);
    }

    75% {
      -moz-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
      -webkit-transform: rotate(5deg);
      transform: rotate(5deg);
    }

    85% {
      -moz-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
      -webkit-transform: rotate(-5deg);
      transform: rotate(-5deg);
    }
  }
  @-o-keyframes icon-bounce {
    0%, 100% {
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    25% {
      -moz-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg);
    }

    50% {
      -moz-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
      -webkit-transform: rotate(-15deg);
      transform: rotate(-15deg);
    }

    75% {
      -moz-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
      -webkit-transform: rotate(5deg);
      transform: rotate(5deg);
    }

    85% {
      -moz-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
      -webkit-transform: rotate(-5deg);
      transform: rotate(-5deg);
    }
  }


  .container {
    position: relative;
    margin: 0 auto; 
    height: 200px;
    width: 600px;
    padding-top: 40px;
    float: left;
  }

  .mine-item {
    display: block;
    float: left;
    margin-bottom: 30px;
    margin-left: 70px;
    width: 20%;
  }
  .mine-item:hover .mine-icon {
    -webkit-animation: icon-bounce 0.5s alternate;
    -moz-animation: icon-bounce 0.5s alternate;
    -o-animation: icon-bounce 0.5s alternate;
    animation: icon-bounce 0.5s alternate;
  }

  #perry {
    height: 120px;
    width: 160px;
    margin-top: 66px; 

  }

  #phineas {
    height: 190px;
    width: 150px;
  }

  .mine-icon-wrap {
    text-align: center;
    display: block;
    height: 52px;
    margin-bottom: 30px;
  }

  .mine-title {
    font-family: 'Londrina Outline', 'Cabin Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    margin: 0;
    margin-top: 140px;
    width: 100%;

  }

  section {
    vertical-align: middle;
    margin-left: 38px;
    padding: 0 auto;
  }

  .square {
  	/*clear:both;*/
  	width: 280px;
  	height: 280px;
  	/*border: 1px solid black;*/
    background: rgba(220, 232, 220,1);
  	overflow: hidden;
  	float: left;
  	position: relative;
  	overflow: hidden;
  	margin: 9px;
    -o-transition: 3s;
    -webkit-transition: 3s;
    -moz-transition: 3s;
    transition: 3s;
  }


  .move:hover {
  border-radius: 50%;
  -o-transition: border-radius 1s linear;
  -webkit-transition: border-radius 1s linear;
  -moz-transition: border-radius 1s linear;
  transition: border-radius 1s linear;
  }

  .theSquares:hover .move:not(:hover) {
  opacity: 0.5;
  -o-transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  transition: opacity 1s linear;
  }
 
  .square p {
    text-align: center;
    font-size: 1.8em;
    margin: 0 auto;
  /*word-break: normal;*/

  }

  .square h3 {
    font-size: 1.9em;
    margin: 20px;
    text-align: center;
    margin: 20px, 20px ,0px, 20px;
  }

  #profile p{
    font-size: 2.5em;
  }

  .black {
    color: white;
  }

  .green {
  	/*background: #96d695;*/
    background: rgba(150, 214, 149,0.7);
  }
  .blue {
    /*background: #6dbde8;*/
    background: rgba(109, 189, 232,0.7);
  }
  .lightblue {
    /*background: #c9e3f5; */
    background: rgba(201, 227, 245,0.7);
  }
  .red {
    /*background: #d64d3e;*/
    background: rgba(214,77,62,0.7);
  }
  .lightred {
    /*background: #ffab8a;*/
    background: rgba(255, 120, 99,0.7);
  }
  .orange {
    /*background: #ff7863;*/
    background: rgba(214,77,62,0.7);
  }
  .yellow {
    /*background: #ffffa6;*/
    background: rgba(255, 255, 166,0.7);
  }
  .black {
    /*background: #363e32;*/
    background: rgba(54, 62, 50,0.9);
  }
  
  .green:hover {
    background: rgba(150, 214, 149,1);
  }
  .red:hover {
    background: rgba(214,77,62,1);
  }
  .lightred:hover {
    background: rgba(255, 120, 99,1);
  }
  .orange:hover {
    background: rgba(214,77,62,1);
  }
  .yellow:hover {
    background: rgba(255, 255, 166,1);
  }
  .blue:hover {
    background: rgba(109, 189, 232,1);
  }
  .lightblue:hover {
    background: rgba(201, 227, 245,1);
  }
  .black:hover {
    background: rgba(54, 62, 50,1);
  }


  .square img {
    width: 100%;
    height: 130%;
    vertical-align: middle;
    opacity: 1;
  }

/*
  .ball img {
  width: 20%;
  height: 20%;
  -webkit-animation: moveing 2.5s infinite;
  }

  @-webkit-keyframes spin {
     0% { -webkit-transform: rotate(-180deg); }
     100% { -webkit-transform: rotate(360deg); }
  }*/

#flower{
  background:none;
  background-image: url('http://i.imgur.com/gJebRI2.png'), url('http://i.imgur.com/ljqv8bt.png'), url('http://i.imgur.com/fOLtHfD.png');
  position: relative;
  margin-left: 60px;
  bottom: -55cm;
  width: 1100px;
  height: 390px;
  -o-transition: 3s;
  -webkit-transition: 3s;
  -moz-transition: 3s;
  transition: 3s;  
  -webkit-animation: flower 20s linear infinite;
  -moz-animation: flower 20s linear infinite;
  -ms-animation: flower 20s linear infinite;
  animation: flower 20s linear infinite;
}

@keyframes flower {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  65% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes flower {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  65% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes flower {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  65% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes flower {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  65% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
} 


  
  footer {
    /*padding: 1cm;*/
    clear: both;
    text-align: center;
    padding: 2cm;
    font-size: 1.5em;
  }

  footer img {
    vertical-align: middle;
    margin: 0 auto;
    padding: 0;
    width: 50%;
    height: 50%;
  }



