.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.971191;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{width:1.256000px;}
._0{width:17.022000px;}
.fc5{color:rgb(255,0,0);}
.fc4{color:rgb(102,102,102);}
.fc3{color:rgb(255,153,0);}
.fc6{color:rgb(33,33,33);}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(48,52,63);}
.fc2{color:rgb(89,89,89);}
.fs7{font-size:56.000000px;}
.fs3{font-size:64.000000px;}
.fs4{font-size:66.000000px;}
.fs5{font-size:72.000000px;}
.fs1{font-size:84.000000px;}
.fs6{font-size:96.000000px;}
.fs8{font-size:120.000000px;}
.fs2{font-size:144.000000px;}
.fs0{font-size:160.000000px;}
.y30{bottom:-9.937195px;}
.y0{bottom:0.000000px;}
.y23{bottom:7.350601px;}
.y2f{bottom:9.262810px;}
.y1c{bottom:13.779739px;}
.y22{bottom:26.550606px;}
.y2e{bottom:28.462814px;}
.y1b{bottom:32.979744px;}
.y27{bottom:36.129852px;}
.y43{bottom:37.811691px;}
.y21{bottom:46.205851px;}
.y2d{bottom:47.662819px;}
.y1a{bottom:52.634989px;}
.y42{bottom:57.131699px;}
.y26{bottom:57.402184px;}
.y2c{bottom:67.318064px;}
.y41{bottom:76.451706px;}
.y25{bottom:76.602188px;}
.y20{bottom:77.631836px;}
.y40{bottom:95.771713px;}
.y24{bottom:95.802187px;}
.y1f{bottom:98.904167px;}
.yf{bottom:104.087875px;}
.y3f{bottom:115.091705px;}
.y2{bottom:116.790764px;}
.y1e{bottom:118.104172px;}
.y19{bottom:123.370796px;}
.ye{bottom:126.167877px;}
.y3e{bottom:134.411697px;}
.y1d{bottom:137.304171px;}
.y18{bottom:144.643127px;}
.y3d{bottom:153.731689px;}
.y17{bottom:163.843132px;}
.yd{bottom:164.247879px;}
.y3c{bottom:173.051682px;}
.y16{bottom:183.043137px;}
.yc{bottom:186.327881px;}
.y3b{bottom:192.371674px;}
.y15{bottom:202.243135px;}
.yb{bottom:208.407883px;}
.y3a{bottom:211.691666px;}
.y1{bottom:223.272385px;}
.y7{bottom:230.487885px;}
.y39{bottom:231.011658px;}
.y32{bottom:238.221191px;}
.ya{bottom:246.487885px;}
.y38{bottom:250.331665px;}
.y44{bottom:250.689919px;}
.y45{bottom:257.301315px;}
.y31{bottom:267.021194px;}
.y6{bottom:268.567886px;}
.y37{bottom:269.651672px;}
.y2b{bottom:276.182335px;}
.y9{bottom:284.153137px;}
.y36{bottom:288.971680px;}
.y14{bottom:298.484924px;}
.y2a{bottom:301.022339px;}
.y5{bottom:306.647888px;}
.y35{bottom:308.291679px;}
.y11{bottom:322.648361px;}
.y13{bottom:323.324928px;}
.y29{bottom:325.862343px;}
.y3{bottom:327.352665px;}
.y8{bottom:327.353138px;}
.y34{bottom:327.611679px;}
.y4{bottom:344.727888px;}
.y10{bottom:344.728361px;}
.y33{bottom:346.931683px;}
.y12{bottom:348.164927px;}
.y28{bottom:350.702341px;}
.h9{height:40.796875px;}
.h4{height:46.625000px;}
.h5{height:48.082031px;}
.h7{height:52.417969px;}
.h6{height:55.054688px;}
.h2{height:61.195312px;}
.h8{height:69.890625px;}
.ha{height:87.363281px;}
.h3{height:104.835938px;}
.h1{height:116.484375px;}
.h0{height:405.000000px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.xa{left:27.401581px;}
.x9{left:31.742126px;}
.x2{left:34.702759px;}
.xb{left:37.503937px;}
.x3{left:198.962585px;}
.xd{left:210.328735px;}
.x8{left:230.033463px;}
.xf{left:273.309052px;}
.xc{left:279.942902px;}
.x4{left:288.309052px;}
.xe{left:291.809052px;}
.x10{left:303.809052px;}
.x5{left:306.309052px;}
.x1{left:308.751984px;}
.x6{left:324.309052px;}
.x7{left:367.198822px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{width:1.674667pt;}
._0{width:22.696000pt;}
.fs7{font-size:74.666667pt;}
.fs3{font-size:85.333333pt;}
.fs4{font-size:88.000000pt;}
.fs5{font-size:96.000000pt;}
.fs1{font-size:112.000000pt;}
.fs6{font-size:128.000000pt;}
.fs8{font-size:160.000000pt;}
.fs2{font-size:192.000000pt;}
.fs0{font-size:213.333333pt;}
.y30{bottom:-13.249593pt;}
.y0{bottom:0.000000pt;}
.y23{bottom:9.800802pt;}
.y2f{bottom:12.350413pt;}
.y1c{bottom:18.372986pt;}
.y22{bottom:35.400808pt;}
.y2e{bottom:37.950419pt;}
.y1b{bottom:43.972992pt;}
.y27{bottom:48.173136pt;}
.y43{bottom:50.415588pt;}
.y21{bottom:61.607801pt;}
.y2d{bottom:63.550425pt;}
.y1a{bottom:70.179985pt;}
.y42{bottom:76.175598pt;}
.y26{bottom:76.536245pt;}
.y2c{bottom:89.757418pt;}
.y41{bottom:101.935608pt;}
.y25{bottom:102.136251pt;}
.y20{bottom:103.509115pt;}
.y40{bottom:127.695618pt;}
.y24{bottom:127.736249pt;}
.y1f{bottom:131.872223pt;}
.yf{bottom:138.783834pt;}
.y3f{bottom:153.455607pt;}
.y2{bottom:155.721018pt;}
.y1e{bottom:157.472229pt;}
.y19{bottom:164.494395pt;}
.ye{bottom:168.223836pt;}
.y3e{bottom:179.215597pt;}
.y1d{bottom:183.072227pt;}
.y18{bottom:192.857503pt;}
.y3d{bottom:204.975586pt;}
.y17{bottom:218.457509pt;}
.yd{bottom:218.997172pt;}
.y3c{bottom:230.735575pt;}
.y16{bottom:244.057515pt;}
.yc{bottom:248.437174pt;}
.y3b{bottom:256.495565pt;}
.y15{bottom:269.657514pt;}
.yb{bottom:277.877177pt;}
.y3a{bottom:282.255554pt;}
.y1{bottom:297.696513pt;}
.y7{bottom:307.317179pt;}
.y39{bottom:308.015544pt;}
.y32{bottom:317.628255pt;}
.ya{bottom:328.650513pt;}
.y38{bottom:333.775553pt;}
.y44{bottom:334.253225pt;}
.y45{bottom:343.068420pt;}
.y31{bottom:356.028259pt;}
.y6{bottom:358.090515pt;}
.y37{bottom:359.535563pt;}
.y2b{bottom:368.243113pt;}
.y9{bottom:378.870850pt;}
.y36{bottom:385.295573pt;}
.y14{bottom:397.979899pt;}
.y2a{bottom:401.363118pt;}
.y5{bottom:408.863851pt;}
.y35{bottom:411.055573pt;}
.y11{bottom:430.197815pt;}
.y13{bottom:431.099904pt;}
.y29{bottom:434.483124pt;}
.y3{bottom:436.470220pt;}
.y8{bottom:436.470851pt;}
.y34{bottom:436.815572pt;}
.y4{bottom:459.637184pt;}
.y10{bottom:459.637815pt;}
.y33{bottom:462.575577pt;}
.y12{bottom:464.219902pt;}
.y28{bottom:467.603121pt;}
.h9{height:54.395833pt;}
.h4{height:62.166667pt;}
.h5{height:64.109375pt;}
.h7{height:69.890625pt;}
.h6{height:73.406250pt;}
.h2{height:81.593750pt;}
.h8{height:93.187500pt;}
.ha{height:116.484375pt;}
.h3{height:139.781250pt;}
.h1{height:155.312500pt;}
.h0{height:540.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.xa{left:36.535441pt;}
.x9{left:42.322835pt;}
.x2{left:46.270345pt;}
.xb{left:50.005249pt;}
.x3{left:265.283447pt;}
.xd{left:280.438314pt;}
.x8{left:306.711283pt;}
.xf{left:364.412069pt;}
.xc{left:373.257202pt;}
.x4{left:384.412069pt;}
.xe{left:389.078735pt;}
.x10{left:405.078735pt;}
.x5{left:408.412069pt;}
.x1{left:411.669312pt;}
.x6{left:432.412069pt;}
.x7{left:489.598429pt;}
}
