.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.869629;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.715820;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.871094;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2{width:1.124000px;}
._0{width:32.100000px;}
._1{width:37.700000px;}
.fc0{color:rgb(0,0,0);}
.fs5{font-size:96.000000px;}
.fs4{font-size:98.000000px;}
.fs3{font-size:112.000000px;}
.fs2{font-size:114.000000px;}
.fs1{font-size:176.000000px;}
.fs0{font-size:240.000000px;}
.y0{bottom:0.000000px;}
.y12{bottom:127.329269px;}
.y11{bottom:167.569260px;}
.y9{bottom:173.020813px;}
.y8{bottom:203.940811px;}
.y10{bottom:207.809265px;}
.yc{bottom:234.860809px;}
.y7{bottom:235.769272px;}
.yf{bottom:248.049271px;}
.yb{bottom:265.780807px;}
.y6{bottom:275.100815px;}
.y1{bottom:280.851967px;}
.ye{bottom:288.289276px;}
.ya{bottom:297.609276px;}
.y5{bottom:306.020813px;}
.yd{bottom:328.529274px;}
.y4{bottom:336.940811px;}
.y3{bottom:368.769278px;}
.y2{bottom:445.295536px;}
.h4{height:70.150391px;}
.h3{height:81.603516px;}
.h2{height:121.687500px;}
.h1{height:165.937500px;}
.h0{height:540.000000px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.x2{left:56.700012px;}
.x3{left:92.700012px;}
.x1{left:217.125000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._2{width:1.498667pt;}
._0{width:42.800000pt;}
._1{width:50.266667pt;}
.fs5{font-size:128.000000pt;}
.fs4{font-size:130.666667pt;}
.fs3{font-size:149.333333pt;}
.fs2{font-size:152.000000pt;}
.fs1{font-size:234.666667pt;}
.fs0{font-size:320.000000pt;}
.y0{bottom:0.000000pt;}
.y12{bottom:169.772359pt;}
.y11{bottom:223.425680pt;}
.y9{bottom:230.694417pt;}
.y8{bottom:271.921082pt;}
.y10{bottom:277.079020pt;}
.yc{bottom:313.147746pt;}
.y7{bottom:314.359029pt;}
.yf{bottom:330.732361pt;}
.yb{bottom:354.374410pt;}
.y6{bottom:366.801086pt;}
.y1{bottom:374.469289pt;}
.ye{bottom:384.385702pt;}
.ya{bottom:396.812368pt;}
.y5{bottom:408.027751pt;}
.yd{bottom:438.039032pt;}
.y4{bottom:449.254415pt;}
.y3{bottom:491.692370pt;}
.y2{bottom:593.727381pt;}
.h4{height:93.533854pt;}
.h3{height:108.804688pt;}
.h2{height:162.250000pt;}
.h1{height:221.250000pt;}
.h0{height:720.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.x2{left:75.600016pt;}
.x3{left:123.600016pt;}
.x1{left:289.500000pt;}
}
